#Vscode个人配置文件（Stores paths of Vscode setting files）
.vscode/*
#调试文件（Debug files）
调试脚本.py
#日志文件（Log files）
离线数据（Offline Data）/Update Logs/*
#由程序生成的数据文件（Generated data files）
召唤师信息（Summoner Information）/*
顶尖排位玩家（Ranked Apex）/*
#文件大小超过100 MB（File size exceeds 100 MiB）
离线数据（Offline Data）/cdragon/latest/game/data/maps/shipping/map22/map22.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/maps/shipping/map22/map22.bin.json
#文件名过长（File name exceeds 171 characters）
离线数据（Offline Data）/cdragon/latest/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
离线数据（Offline Data）/cdragon/latest/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
离线数据（Offline Data）/cdragon/latest/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
离线数据（Offline Data）/cdragon/latest/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.0473cc3feac09f8e.bin.json
离线数据（Offline Data）/cdragon/latest/game/data/pettftavatar_base_root_base_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root_healthpotion_tier1_hotspring_root_hotspr.c58f511daa3374d9.bin.json
离线数据（Offline Data）/cdragon/latest/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/petdssquid_base_root_base_tier1_base_tier2_base_tier3_highnoon_root_highnoon_tier1_highnoon_tier2_highnoon_tier3_kdaevelynn_root_kdaevelynn_tier1_kdaevelynn_tier2_kdaevelynn_tier3_mecha_root_mecha_tier1_mecha_tier2_mecha_tier3_sk.3cbc5ccc095e5ee4.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/petduckbill_base_root_base_tier1_base_tier2_base_tier3_battleacademia_root_battleacademia_tier1_battleacademia_tier2_battleacademia_tier3_set14rankedrewards_root_set14rankedrewards_tier1.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/petpenguknight_base_root_base_tier1_base_tier2_base_tier3_birthdaypengu_root_birthdaypengu_tier1_birthdaypengu_tier2_birthdaypengu_tier3_esport_root_esport_tier1_ruined_root_ruined_tier1_set5launchbattlepass_root_set5launchbattle.9b99117fca51d969.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/pettftavatar_base_root_base_tier1_battleacademia_root_battleacademia_tier1_bubbletea_root_bubbletea_tier1_carbs2_root_carbs2_tier1_chemtank_root_chemtank_tier1_cyberpunk_root_cyberpunk_tier1_evil_root_evil_tier1_healthpotion_root.0473cc3feac09f8e.bin.json
离线数据（Offline Data）/cdragon/pbe/game/data/petumbra_band_root_base_root_base_tier1_base_tier2_base_tier3_poolparty_root_poolparty_tier1_poolparty_tier2_poolparty_tier3_rpg_root_rpg_tier1_rpg_tier2_rpg_tier3.bin.json
